absl-py 
amqp 
apt-clone 
apturl 
aspose-words 
astroid 
atlasapi 
atlascli 
attrs 
autopep8 
bcrypt 
beautifulsoup4 
billiard 
blinker 
blis 
boto 
Brlapi 
cachetools 
camelot-py 
catalogue 
catfish 
ccsm 
celery 
certifi 
cffi 
chardet 
click 
click-didyoumean 
click-plugins 
click-repl 
cloudpickle 
colorama 
command-not-found 
compizconfig-python 
configobj 
configparser 
coolname 
cryptography 
cupshelpers 
cycler 
cymem 
Cython 
dataclasses 
dbus-python 
ddtrace 
decorator 
deepl 
defer 
detectron2 
distro 
dnspython 
docx2txt 
en-core-web-md 
en-core-web-sm 
entrypoints 
et-xmlfile 
excalibur-py 
filelock 
future 
fuzzywuzzy 
fvcore 
ghostscript 
google-api-core 
google-auth 
google-auth-oauthlib 
google-cloud-vision 
googleapis-common-protos 
greenlet 
grpcio 
hocr-tools 
html2image 
html5lib 
httplib2 
huggingface-hub 
idna 
ifaddr 
imageio 
imbalanced-learn 
IMDbPY 
imgcompare 
imutils 
iniconfig 
isodate 
isort 
itsdangerous 
jdcal 
Jinja2 
joblib 
keyring 
kiwisolver 
kombu 
langcodes 
langdetect 
launchpadlib 
layoutparser 
lazr.restfulclient 
lazr.uri 
lazy-object-proxy 
libreoffice-convert 
lightgbm 
linode-api4 
louis 
lxml 
Mako 
Markdown 
MarkupSafe 
matplotlib 
mccabe 
menulibre 
meson 
mugshot 
murmurhash 
netaddr 
netifaces 
networkx 
nltk 
nose 
numpy 
oauthlib 
onboard 
opencv-python 
openpyxl 
packaging 
pandas 
paramiko 
pathy 
pdf2image 
pdftopng 
pexpect 
Pillow 
plac 
pluggy 
portalocker 
preshed 
prompt-toolkit 
protobuf 
psutil 
py 
pyasn1 
pyasn1-modules 
pycairo 
pycocotools 
pycodestyle 
pycparser 
pycrypto 
pycups 
pycurl 
pydantic 
PyDocX 
pydot 
PyGObject 
PyICU 
PyJWT 
pylint 
pymacaroons 
PyNaCl 
pyocr 
pyparsing 
pyparted 
PyPDF2 
pytesseract 
pytest 
python-apt 
python-dateutil 
python-docx 
python-magic 
python-xapp 
pytz 
PyWavelets 
pyxattr 
pyxdg 
PyYAML 
regex 
reportlab 
requests 
requests-file 
requests-oauthlib 
requests-unixsocket 
rope 
rsa 
scikit-image 
scikit-learn 
scipy 
scp 
SecretStorage 
sentence-transformers 
sentencepiece 
setproctitle 
simplejson 
six 
smart-open 
sortedcontainers 
soupsieve 
spacy 
spacy-language-detection 
spacy-legacy 
spacy-loggers 
spacy-sentence-bert 
srsly 
systemd-python 
tabulate 
tenacity 
tensorboard 
tensorboard-plugin-wit 
termcolor 
tesserocr 
thinc 
threadpoolctl 
tifffile 
tk 
tldextract 
tokenizers 
toml 
torch 
torchvision 
tqdm 
transformers 
twilio 
typer 
typing-extensions 
ubuntu-advantage-tools 
ubuntu-drivers-common 
ufw 
Unidecode 
urllib3 
vine 
wadllib 
waitress 
Wand 
wasabi 
wcwidth 
webencodings 
Werkzeug 
Whoosh 
wrapt 
xgboost 
xkit 
yacs 
zeroconf 
