colorama 
Cython 
deepl 
dnspython 
docx2txt
fuzzywuzzy 
hocr-tools 
html2image 
html5lib 
httplib2 
huggingface-hub 
imbalanced-learn 
lxml 
nltk 
nose 
numpy 
pandas 
pdf2image 
PyDocX 
PyPDF2 
scikit-image 
scikit-learn 
scipy 
spacy 
spacy-language-detection 
spacy-legacy 
spacy-loggers 
spacy-sentence-bert 
tensorboard 
tensorboard-plugin-wit 
tqdm 
xgboost 
